#erdbeeren {
  @extend %section-sizing;
    background-color: $background-color-erdbeeren;
}

.erdbeeren {
  background: url("../img/erdbeeren.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 612px;
  h1 {}
}

.erd-cont {
  font-size: 3em;
  padding-top: 150px;
  padding-bottom: 150px;
  vertical-align: middle;
  text-align: center;
}
