#jumbo {
  @extend %section-sizing;
}

.jumbotron {
  background: url("../img/jumbo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  h1 {}
}

