
.jumbotron {
  background-image: url("../jumbo.jpg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 200px;
  height: 500px;
}

.jumbotron h1 {
  color: white;
  font-size: 5em;
  padding-top: 100px;
}
