
.side {
  padding: 0;
  padding-bottom: 10px;

  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    font-size: 1.25em;
    padding-bottom: 20px;
    padding-top: 10px; 
  } 

  a {
    font-size: 1.5em;
    color: gray;
    padding: 10px;
    text-decoration: none;
  }

  a:hover {
    @extend %hover;
  }
}
