
.span2 * {
  padding: 0;
}

.side {
  padding-bottom: 10px;

  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    padding-bottom: 20px;
    padding-top: 10px; 
  } 

  a {
    color: gray;
    font-size: 2em;
    padding: 10px;
    text-decoration: none;
  }

  a:hover {
    color: black;
    font-weight: bold;
  }


}
