.top {
  text-decoration: none;

  .navbar-brand {
    display: inline;
    font-weight: bold;
  
    img {
      margin-right: 10px;
      max-height: 20px;
    }
  }

  .navbar-brand:hover {
    @extend %hover;
  }

  li:hover {
    @extend %hover;
  }
}
