.top {
  
  .brand {
    font-weight: bold;
  
    img {
      margin-right: 10px;
      max-height: 20px;
    }
  }

  .brand:hover {
    color: black;
  }

  li {
    :hover {
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  }

}


